alembic==1.4.0
azure-common==1.1.24
azure-nspkg==3.0.2
azure-storage==0.36.0
Flask==2.0.3
Flask-Login==0.5.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
Jinja2==3.0.1
Mako>=1.2.0
MarkupSafe==2.0.1
msal==1.13.0
SQLAlchemy==1.4.49
Werkzeug==2.0.3
WTForms==2.2.1
cachelib==0.13.0
PyJWT[crypto]>=2.6.0
# Let pip choose compatible versions for these:
certifi
cffi
chardet
Click
cryptography
idna
itsdangerous
pycparser
pyodbc
pyopenssl
python-dateutil
python-editor
requests
setuptools
six
urllib3
